# Ignore node_modules for both frontend and backend
task-frontend/node_modules/
task-backend/node_modules/

# Ignore .env files for both frontend and backend
task-frontend/.env
task-backend/.env

# Other typical files to ignore
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
